.App {
  text-align: center;
  background-color: azure;
}

.img{
  padding: 5px;
  margin: 5px;
  height: 350px;
}
button{
  padding: 5px;
  margin: 5px;
  
}
.buton{
  color:rgb(1, 49, 58);
  font-weight: 500;
  font-size: large;
}
.search{
  font-weight: 640;
  color: rgb(16, 2, 48);
}
.form{
  width: 70%;
  margin: 5px;
  height: 5vh;
  border: 1px solid rgb(160, 115, 202);
}
h2{
  color: rgb(5, 117, 117);
  text-align: center;
  margin: 15px;
  padding: 15px;
  animation: bounce 1s ease-in-out infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

footer{
  color: rgb(121, 5, 96);
  background-color:#0dcaf0 ;
  font-size: larger;
}